::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  margin: 8px;
  background: #111111;
}

::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 8px;
  border: 2px solid #111111;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5b5ed9;
}

::-webkit-scrollbar-corner {
  background: #111111;
}

::-webkit-resizer {
  background: #111111;
}
